@using System.Threading
        <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"> <img src="~/Images/image001.jpg" /></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @if (Request.IsAuthenticated)
                        {
                            @Html.Partial("_LoginPartial")
                        }
                    </section>
                    <nav>
                        <ul id="menu">
                            
                            <li> @Html.ActionLink("Create New", "Create", "Home")</li>
                            <li>@Html.ActionLink("Sort by raiting", "Index", "Home")</li>
                            <li>@Html.ActionLink("Sort by title", "Index", "Home", new {sortBy = 1}, null)</li>
                            <li>@Html.ActionLink("Sort by date", "Index", "Home", new {sortBy = 2}, null)</li>  
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
       
        @Scripts.Render("~/bundles/otf")
        @RenderSection("scripts", required: false)
</body>
<footer>
    <div class="content-wrapper">
        <div class="float-left">

            <p>&copy; Created by M. Konicki</p>
            <hr/>
        </div>
    </div>
</footer>


</html>
