@model IPagedList<LinksListViewModel>
@{
    ViewBag.Title = "Links";
}




<p></p>
  <form method="get" action="@Url.Action("Index")"
                  data-otf-ajax="true" data-otf-target="#LinksList">
                <input type="search" name="search" data-otf-autocomplete="@Url.Action("Autocomplete")"/>
                <input type="submit" value="Search by title"/>
            </form>
       
          
 <div id="LinksList" class="container-fluid">
     
         @foreach (var item in Model)
         {
          <table>
          <tbody>
          <tr>

              <td class="col-lg-2">
              <p>Raiting: @item.Raiting</p>

              <a href="@Url.Action("IncreaseRaiting", new {id = item.ID})">
                  <img src="@Url.Content("Images/like.png")" height="35px"width="35px"/>
              </a>

              <a href="@Url.Action("DecreaseRaiting", new {id = item.ID})">
                  <img src="@Url.Content("Images/unlike.png")"height="35px"width="35px"/>
              </a>

              <td class="col-lg-10">
                  <h2>@item.Title</h2>
                  <a href="https://@item.Link">@item.Link</a> Created by: @item.Author.UserName

                  @if (User.Identity.Name.Equals(@item.Author.UserName))
                  {
                      <p>@Html.ActionLink("Edit post", "Edit", new {id = item.ID})</p>
                  }
              </td>
          </tr>
          <tr>
              <td><h5>@item.ShortDescription</h5>
                  @Html.ActionLink("Details", "Details", new {id = item.ID})
              </td>
          </tr>
          </tbody>
          </table>
             <hr/>

         }
     <div class="pagedList" data-otf-target="#LinksList">
    @Html.PagedListPager(Model, page => Url.Action("Index", new {page}),
        PagedListRenderOptions.MinimalWithItemCountText)
</div>

</div>
