@model IPagedList<LinksListViewModel>
@{
    ViewBag.Title = "Links";
}


<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<table class="table">
    <tr><td>
            <div class="pagedList" data-otf-target="#LinksList">
                @Html.PagedListPager(Model, page => Url.Action("Index", new {page}),
                    PagedListRenderOptions.MinimalWithItemCountText)
            </div>
        </td>
        <td>
            <form method="get" action="@Url.Action("Index")"
                  data-otf-ajax="true" data-otf-target="#LinksList">
                <input type="search" name="search" data-otf-autocomplete="@Url.Action("Autocomplete")"/>
                <input type="submit" value="Search by title"/>
            </form>
        </td>
    </tr>
</table>
 <div id="LinksList" class="container-fluid">
     <table class="table table">
         <tbody>
         @foreach (var item in Model)
         {

             <tr>

                 <td class="col-sm-4">Raiting: @item.Raiting
                     <p>@Html.ActionLink("IncreaseRaiting", "IncreaseRaiting", new {id = item.ID})</p>
                     <p>@Html.ActionLink("DecreaseRaiting", "DecreaseRaiting", new {id = item.ID})</p>
                 </td>
                 <td class="col-sm-8">
                     <h2>@item.Title</h2>
                     <a href="@item.Link">@item.Link</a> Created by:  @item.Author.UserName
                    
                     @if(User.Identity.Name.Equals(@item.Author.UserName))
             {
                 <p>@Html.ActionLink("Edit post","Edit",new{id = item.ID})</p>
             }
                 </td>
             </tr>
             <tr>
                 <td><h5>@item.ShortDescription</h5>
                     @Html.ActionLink("Details", "Details", new {id = item.ID})
                 </td>
             </tr>

         }
         </tbody>
     </table>
</div>
