
@model IPagedList<LinksListViewModel>
@{
    ViewBag.Title = "Links";
}
<form method="get" action="@Url.Action("Index")"
    data-otf-ajax="true" data-otf-target="#LinksList" >
    <input type="search" name="search" data-otf-autocomplete="@Url.Action("Autocomplete")"/>
    <input type="submit" value="Search by title" />
    </form>
<div id="LinksList">
    <div class ="pagedList" data-otf-target="#LinksList">
        @Html.PagedListPager(Model, page=>Url.Action("Index", new{page}),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>
@foreach (var item in Model)
{
    <div>
        <h3>@item.Title</h3>
        <a href="@item.Link">@item.Link</a>
        <div>@item.ShortDescription</div>
        <div>Raiting: @item.Raiting</div>
        <p>@Html.ActionLink("IncreaseRaiting", "IncreaseRaiting", new {id = item.ID})
           
        </p>

    <hr />
    
    </div>
   
    
}
</div>