@model Mvc_project.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 col-md-2 col-lg-2"> Current password:</label>
            <div class="col-sm-4 col-md-10 col-lg-10">
                @Html.PasswordFor(m => m.OldPassword)
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 col-md-2 col-lg-2"> New password:</label>
            <div class="col-sm-4 col-md-10 col-lg-10">
                @Html.PasswordFor(m => m.NewPassword)
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 col-md-2 col-lg-2"> Confirm new password:</label>
            <div class="col-sm-4 col-md-10 col-lg-10">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <button type="submit" value="Change password" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
    
    
}
